body {
  background-color: rgb(163, 21, 21);
  height: 330px;
}
.container {
  position: relative;
}
.header h1 {
  text-align: center;
  color: #f6f2f2;
}
.banner{
  gap: 10px;
  height: 30vh; 
  display: flex;
  justify-content: center; /* Centers the buttons horizontally */
  align-items: center; /* Centers the buttons vertically */
}
.banner img {
  position: absolute;
  width: 450px;
  
}
button {
  width: 180px;
  height: 50px;
  font-size: 30px;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

#btn-cook {
  font-size: 30px;
  background-color: orange;
}
#btn-oke {
  background-color: blue;
}
.btn {
  display: flex;
  justify-content: center; /* Centers the buttons horizontally */
  align-items: center; /* Centers the buttons vertically */
  gap: 10px;
  height: 30vh; 
}

#myForm {
  background-color: #ccc;
  text-align: center;
  width: 500px;
  height: 560px;
  position: absolute;
  top: 10%;
  left: 32%;
}
#myForm p {
  font-size: 22px;
}
#myForm button {
  width: 150px;
  background-color: rgb(48, 17, 223);
}
.img img {
  width: 235px;
  height: 280px;
}
